* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#nav-toggle-container {
  display: none;
  padding: 1em;
  background-color: #383838;
  color: #f8f8f8;
}
@media (max-width: 960px) {
  #nav-toggle-container {
    display: flex;
    align-items: flex-end;
  }
}
#nav-toggle-container #nav-current-title {
  color: #f8f8f8;
  margin: 0 0 0 1em;
  text-decoration: none;
}
@media (max-width: 960px) {
  #nav-toggle-container #nav-current-title.gone {
    color: #7cafc2;
  }
}

body {
  background-color: #181818;
  font: 18px monospace;
  color: #d8d8d8;
  margin: 0;
  display: flex;
  height: 100%;
}
@media (max-width: 960px) {
  body {
    flex-direction: column;
  }
}

#nav-pane {
  flex: 1 1 auto;
  color: #f8f8f8;
  background-color: #383838;
  width: 16.6666666667%;
  min-width: 8rem;
  max-width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (max-width: 960px) {
  #nav-pane {
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  #nav-pane.gone {
    display: none;
  }
}
#nav-pane a {
  color: #f8f8f8;
  text-decoration: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  text-align: center;
}
#nav-pane a.active {
  color: #7cafc2;
}
#nav-pane a:hover, #nav-pane a:active {
  background-color: #7cafc2;
  color: #383838;
}
@media (max-width: 960px) {
  #nav-pane a {
    text-align: left;
    padding-left: calc(1em + 24px + 1em);
  }
  #nav-pane a.gone {
    display: none;
  }
}
#nav-pane img {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 0.5em;
}
@media (max-width: 960px) {
  #nav-pane img {
    display: none;
  }
}

#main-pane {
  overflow: scroll;
  max-height: 100%;
  margin: auto 0;
}
@media (max-width: 960px) {
  #main-pane {
    margin: revert;
  }
  #main-pane.gone {
    display: none;
  }
}

#content-container {
  flex: 1 1 auto;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 2em;
  padding-top: 2em;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 960px) {
  #content-container {
    justify-content: flex-start;
    padding: 1.5em 1.5em 1.5em 1.5em;
    width: inherit;
  }
}
#content-container .highlight {
  color: #7cafc2;
}
#content-container #content-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
#content-container #content-header h1 {
  margin-block-start: 0;
  font-size: 48px;
}
@media (max-width: 960px) {
  #content-container #content-header h1 {
    font-size: 32pt;
    width: 100%;
    text-align: center;
    margin-block-start: revert;
  }
}
#content-container #content-header h1 .highlight {
  display: inline-block;
}
#content-container #content-main {
  padding-top: 0.5em;
}
#content-container #content-main p {
  margin-top: 0;
  margin-bottom: 1em;
}
#content-container #content-main p > img:first-child {
  margin-top: 0;
}
#content-container #content-main img {
  max-width: 480px;
  margin: 1em;
}
@media (max-width: 960px) {
  #content-container #content-main img {
    margin: 1em 0;
    max-width: 100%;
  }
}
#content-container #content-main img#cloud {
  max-width: 100%;
  width: 100%;
  margin: 0;
}
#content-container #content-main a {
  color: #d8d8d8;
}
#content-container #content-main a:hover, #content-container #content-main a:active {
  color: #7cafc2;
}
#content-container #content-main code {
  color: #a1b56c;
}
#content-container #content-main .red {
  color: #ab4642;
}
#content-container #content-main .green {
  color: #a1b56c;
}
#content-container #content-main .yellow {
  color: #f7ca88;
}
#content-container #content-main .blue {
  color: #7cafc2;
}
#content-container #content-main .magenta {
  color: #ba8baf;
}
#content-container #content-main .cyan {
  color: #86c1b9;
}
#content-container #content-main .orange {
  color: #dc9656;
}
#content-container #content-main .white {
  color: #f8f8f8;
}
#content-container #content-main .foreground {
  color: #d8d8d8;
}
#content-container #content-main .blog-post-item a {
  text-decoration: none;
  font-weight: bold;
}
#content-container #content-main .portfolio-item .portfolio-item-header {
  display: flex;
}
#content-container #content-main .portfolio-item .portfolio-item-name {
  font-weight: bold;
  margin-right: 1ch;
}
@media (max-width: 960px) {
  #content-container #content-main .portfolio-item .portfolio-item-name {
    flex: 1 0 auto;
  }
}
@media (max-width: 960px) {
  #content-container #content-main .portfolio-item .portfolio-item-tech {
    text-align: right;
    flex: 1 1 auto;
  }
}
#content-container #content-main .experience-item .experience-item-header {
  display: flex;
  flex-direction: column;
}
@media (max-width: 960px) {
  #content-container #content-main .experience-item .experience-item-header {
    flex-direction: row;
  }
}
#content-container #content-main .experience-item .experience-item-company {
  display: flex;
  flex-direction: row;
}
@media (max-width: 960px) {
  #content-container #content-main .experience-item .experience-item-company {
    flex-direction: column;
    flex: 1 0 0;
  }
}
#content-container #content-main .experience-item .experience-item-place {
  margin-right: 1ch;
  margin-bottom: 0;
}
#content-container #content-main .experience-item .experience-item-role {
  font-weight: bold;
  margin-bottom: 0;
}
@media (max-width: 960px) {
  #content-container #content-main .experience-item .experience-item-role {
    margin-bottom: 1em;
  }
}
#content-container #content-main .experience-item .experience-item-dates {
  display: flex;
  flex-direction: row;
}
@media (max-width: 960px) {
  #content-container #content-main .experience-item .experience-item-dates {
    flex-direction: column;
    text-align: right;
    flex: 0 1 auto;
  }
}
@media (max-width: 960px) {
  #content-container #content-main .experience-item .experience-item-start {
    margin-bottom: 0;
  }
}
@media (max-width: 960px) {
  #content-container #content-main .experience-item .experience-item-dates-sep {
    display: none;
  }
}
#content-container .multiple-list-container {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 960px) {
  #content-container .multiple-list-container {
    flex-direction: column;
  }
}
#content-container .multiple-list-container .list {
  margin-right: 1em;
}
#content-container .list ul {
  margin-bottom: 1em;
  margin-top: 0;
}
@media (max-width: 960px) {
  #content-container .list.non-bullet ul {
    margin-left: 0;
    margin-right: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    list-style-type: none;
  }
}
#content-container .list a {
  text-decoration: none;
}
#content-container .list p.list-head {
  margin-bottom: 0.5em;
}

/*# sourceMappingURL=style.css.map */
