{% extends 'base.html' %}

{% block c_header %}
<h1>Who am I?</h1>
{% endblock %}
{% block c_main %}

{% set about_text = '
<p>
I\'m a
<span class="green">programmer</span>,
tech enthusiast, college student,
<span class="cyan">Arch Linux</span>
user, vexillologist, novice cook, and the proprietor of this site.
</p>
<p>
My language of choice is Python,
and I\'m also versed in C and Java (especially for Android apps).
I have some experience with HTML/<wbr>CSS/<wbr>JS/<wbr>jQuery, and I\'ve used Vue, Materialize, and PHP/<wbr>WordPress.
</p>
<p>
For my freshman year of college, I attended <span class="orange">the University of Texas at Austin</span>.
I\'ve since transferred to <span class="blue">Rice University</span> in Houston,
where I\'m pursuing a major in Computer Science with a minor in Entrepreneurship.
</p>
<p>
I held a Data Science internship in 2020 at <span class="blue">IBM</span>,
and I had a great experience as a Software Engineering intern at ServiceN<span class="green">o</span>w this past summer!
I\'m interested in financial technology, so I\'m pursuing opportunities in that area for 2022.
</p>
' %}

{{ color_function(about_text) | safe }}

<div class="double-list-container">
    {% macro list(header, color, items) -%}
    <div class="list {{ color }}">
        <p>{{ header | safe }}:</p>
        <ul>
            {% for item in items %}
            <li><span class="white">{{ item | safe }}</span></li>
            {% endfor %}
        </ul>
    </div>
    {%- endmacro %}

    {{ list("Things I enjoy", "green", [
    "Vim",
    "the flag of Albania",
    "i3wm",
    "Ping Pong the Animation",
    "playing with my cat",
    "sudo pacman -Syu",
    "4-space indents",
    "reliable internet access",
    "base16 colorscheme",
    "chai",
    "sushi",
    ]) }}
    {{ list("Things I do not enjoy", "red", [
    "Eclipse",
    "the flag of Zambia",
    "the macOS desktop environment",
    "The Queen's Gambit",
    "being away from my cat",
    "Windows Update",
    "tab indents",
    "Comcast",
    "light themes",
    "coffee",
    "paneer",
    ]) }}
</div>
{% endblock %}
