{% extends 'base.html' %}

{% block c_header %}
<h1>Who am I?</h1>
{% endblock %}
{% block c_main %}
<p>
I'm a
<span class="green">programmer</span>,
tech enthusiast, college student,
<span class="cyan">Arch Linux</span>
user, vexillologist, novice cook, and the proprietor of this site.
</p>
<p>
My language of choice is <span class="blue">Python</span><span class="yellow">3</span>,
and I'm also versed in <span class="magenta">C</span> and <span class="red">Java</span> (especially for <span class="green">Android</span> apps).
I have some experience with <span class="yellow">HTML/CSS/JS/jQuery</span>, and I've used
<span class="green">Vue</span>.js, <span class="red">Materialize</span>, and <span class="magenta">PHP/WordPress</span>.
</p>
<p>
For my freshman year of college, I attended <span class="orange">the University of Texas at Austin</span>.
I've since transferred to <span class="blue">Rice University</span> in Houston,
where I'll be pursuing a major in Computer Science with a minor in Financial Computation and Modeling.
</p>
{% endblock %}
