{% extends 'base.html' %}

{% block c_header %}
<h1>Who am I?</h1>
{% endblock %}
{% block c_main %}
<p>
I'm a programmer, tech enthusiast, college student, Arch Linux user, vexillologist, novice cook, and the proprietor of this site.
</p>
<p>
My language of choice is Python3, and I'm also versed in C and Java (especially for Android apps).
I have some experience with HTML/CSS/JS/jQuery, and I've used Vue.js, Materialize, and WordPress (with PHP).
</p>
<p>
For my freshman year of college, I attended the University of Texas at Austin. I've since transferred to Rice University in Houston,
where I'll be pursuing a major in Computer Science with a minor in Financial Computation and Modeling.
</p>
{% endblock %}
