{% extends 'base.html' %}

{% block c_header %}
<h1>Ways to reach me</h1>
{% endblock %}

{% block c_main %}

<p>I generally use the handle <span class="blue">pieman2201</span> for my online presence. Below are some profiles that I use with varying degrees of activity:</p>

<div class="list">
    <ul>
        <li><a href="https://github.com/pieman2201" class="green">GitHub</a></li>
        <li><a href="https://gitlab.com/pieman2201" class="orange">GitLab</a></li>
        <li><a href="https://www.linkedin.com/in/ishan-a-kamat/" class="blue">LinkedIn</a></li>
        <li><a href="https://twitter.com/pieman2201" class="cyan">Twitter</a></li>
        <li><a href="https://www.instagram.com/pieman2201/" class="magenta">Instagram</a></li>
        <li><a href="https://www.reddit.com/u/PieMan2201/" class="red">Reddit</a></li>
    </ul>
</div>

{% endblock %}
