{% extends 'base.html' %}

{% block c_header %}
<h1>Hi, I'm <span class="highlight">Ishan Kamat</span></h1>
{% endblock %}

{% block c_main %}
<p>I've got an <a href="/about">about</a> page and a <a href="/portfolio">portfolio</a>; feel free to check out my <a href="resume.pdf">resume</a> as well. Otherwise, here's a quick overview of the content on this website:</p>
<img id="cloud">
<script>
    function resizeCloud() {
        var height = window.innerHeight - $('#cloud')[0].offsetTop - parseInt($('#content-pane').css('padding-bottom'));
        var width  = $('#cloud')[0].width;
        var ratio = Math.floor(width / height);
        while (width / ratio > height) {
            ratio += 0.1;
        }
        $('#cloud')[0].src = 'clouds/cloud-' + ratio.toFixed(1) + '.svg';
    }
    $(window).resize(resizeCloud);
    $(document).ready(resizeCloud);
</script>

{% endblock %}
