{% extends 'base.html' %}

{% block c_header %}
<h1>Hi, I'm <span class="highlight">Ishan Kamat</span></h1>
{% endblock %}

{% block c_main %}

<p>I'm a rising senior at <span class="blue">Rice University</span>, where I'm studying Computer Science with a minor in Entrepreneurship.</p>

<p>{{ color_function("My programming language of choice is Python, and I\'ve been working with Java and C recently for some of my CS courses. I also have some experience with JS and jQuery for web development.") | safe }}</p>

<p>I live and go to school in <span class="cyan">Houston</span>, and I enjoyed being in <span class="green">NYC</span> during summer 2022 for a software engineering internship. I'm looking forward to being a TA for COMP 215 at <span class="blue">Rice</span> in fall 2022.</p>

{% endblock %}
