{% extends 'base.html' %}

{% block c_header %}
<h1>Hi, I'm <span class="highlight">Ishan Kamat</span></h1>
{% endblock %}

{% block c_main %}

<p>I'm a senior at <span class="blue">Rice University</span>, where I'm studying Computer Science with a minor in Entrepreneurship.</p>

<p>{{ color_function("My programming language of choice is Python, and I\'ve used Java and C in my college CS courses. I also have some experience with JS for web development, and I wrote backend code in Go at a recent internship.") | safe }}</p>

<p>I live and go to school in <span class="cyan">Houston</span>, though I'm looking forward to moving to <span class="green">NYC</span> for a software engineering position in August 2023.</p>

{% endblock %}
