{% extends 'base.html' %}

{% block c_header %}
<h1>Projects I've worked on</h1>
{% endblock %}

{% block c_main %}

{% macro portfolio(name, tech, summary) -%}
<li>
    <div class="portfolio-item">
        <div class="portfolio-item-header">
            <p class="portfolio-item-name">{{ name | safe }}</p>
            <p class="portfolio-item-tech">{{ color_function(tech) | safe }}</p>
        </div>
        <p class="portfolio-item-summary">
        {{ summary | safe }}
        </p>
    </div>
</li>
{%- endmacro %}


<div class="list non-bullet">
    <ul>
        {{ portfolio("econle", "jQuery", "A Wordle-type game where players have 6 attempts to guess the economy of the day.") }}
        {{ portfolio("teeminus", "JS", "A minimalist site where users can create shareable countdown clocks.") }}
        {{ portfolio("snackstocker", "Python/JS", "A solution for finding, searching, and viewing office snack counters. An IoT device uses computer vision to keep track of snack availability, and employees can check a mobile portal to see whether their favorite snack is in stock. I worked on this during an internship as a hackathon project alongside 3 other interns, and my primary responsibility was developing a CV model that could recognize and learn about different types of snacks by sight.") }}
        {{ portfolio("serveup", "Python/Flutter", "An app for students to post and sign up for community service events within an organization. I worked on this with 2 other students for my high school's community service office.") }}
        {{ portfolio("axes", "C", "A simple <span class=\"green\">Android</span> arcade game where the player targets falling blocks by manipulating the axes of a crosshair.") }}
        {{ portfolio("aliasbot", "Python", "A <span class=\"cyan\">Telegram</span> bot that lets users save notes or links which can be recalled through custom keyword commands.") }}
        {{ portfolio("generalissimo", "Java", "An <span class=\"green\">Android</span> client for webdiplomacy.net, a site dedicated to hosting the popular strategy game Diplomacy.") }}
        {{ portfolio("wankel", "Python/jQuery", "A social platform named after the Wankel rotary engine where users can post events and achievements to a central community timeline.") }}
    </ul>
</div>
{% endblock %}
