{% extends 'base.html' %}

{% block c_header %}
<h1>Interests of mine</h1>
{% endblock %}
{% block c_main %}

{% macro list(header, color, items) -%}
<div class="list {{ color }}">
    <p class="list-head">{{ header | safe }}</p>
    <ul>
        {% for item in items %}
        <li><span class="foreground">{{ item | safe }}</span></li>
        {% endfor %}
    </ul>
</div>
{%- endmacro %}

<p>Here are some lists of things that I find notable or that I particularly enjoy:</p>

<div class="multiple-list-container">
    {{ list("Topics", "blue", [
    "vexillology",
    "computers",
    "geography",
    "history"
    ]) }}
    {{ list("Foods", "yellow", [
    "sushi",
    "Halal Guys",
    "tostadas",
    "Sichuan cuisine",
    "pasta"
    ]) }}
    {{ list("Software", "green", [
    "vim",
    "Arch Linux",
    "i3wm",
    "Telegram"
    ]) }}
    {{ list("Games", "orange", [
    "Kerbal Space Program",
    "Europa Universalis 4",
    "Rocket League",
    "CS:GO",
    "Luftrausers"
    ]) }}
    {{ list("Flags", "magenta", [
    "Albania",
    "Kyrgyzstan",
    "Montenegro"
    ]) }}
    {{ list("Shows", "red", [
    "The Rehearsal",
    "Better Call Saul",
    "Succession",
    "Curb Your Enthusiasm"
    ]) }}
    {{ list("Books", "cyan", [
    "Dune",
    "Anna Karenina",
    "Ringworld",
    "A Philosophy of Software Design"
    ]) }}
</div>
{% endblock %}
