* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#nav-toggle-container {
  display: none;
  padding: 1em;
  background-color: #383838;
  color: #f8f8f8;
}
@media (max-width: 960px) {
  #nav-toggle-container {
    display: flex;
    align-items: flex-end;
  }
}
#nav-toggle-container #nav-current-title {
  color: #f8f8f8;
  margin: 0 0 0 1em;
  text-decoration: none;
}
@media (max-width: 960px) {
  #nav-toggle-container #nav-current-title.gone {
    color: #7cafc2;
  }
}

body {
  background-color: #181818;
  font: 18px monospace;
  color: #d8d8d8;
  margin: 0;
  display: flex;
  height: 100%;
}
@media (max-width: 960px) {
  body {
    flex-direction: column;
  }
}

#nav-pane {
  flex: 1 1 auto;
  color: #f8f8f8;
  background-color: #383838;
  width: 16.6666666667%;
  min-width: 8rem;
  max-width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (max-width: 960px) {
  #nav-pane {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  #nav-pane.gone {
    display: none;
  }
}
#nav-pane a {
  color: #f8f8f8;
  text-decoration: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  text-align: center;
}
#nav-pane a.active {
  color: #7cafc2;
}
#nav-pane a:hover, #nav-pane a:active {
  background-color: #7cafc2;
  color: #383838;
}
@media (max-width: 960px) {
  #nav-pane a {
    text-align: left;
    padding-left: calc(1em + 24px + 1em);
  }
  #nav-pane a.gone {
    display: none;
  }
}
#nav-pane img {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 0.5em;
}
@media (max-width: 960px) {
  #nav-pane img {
    display: none;
  }
}

#content-pane {
  flex: 1 1 auto;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 2em;
  overflow: scroll;
  width: 100%;
  max-width: 960px;
}
@media (max-width: 960px) {
  #content-pane {
    padding: 0.5em 1.5em 1.5em 1.5em;
    width: inherit;
  }
  #content-pane.gone {
    display: none;
  }
}
#content-pane .highlight {
  color: #7cafc2;
}
#content-pane #content-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
#content-pane #content-header h1 {
  font-size: 48px;
}
@media (max-width: 960px) {
  #content-pane #content-header h1 {
    font-size: 32pt;
    width: 100%;
    text-align: center;
  }
}
#content-pane #content-header h1 .highlight {
  display: inline-block;
}
#content-pane #content-main {
  padding-top: 0.5em;
}
#content-pane #content-main p {
  margin-top: 0;
  margin-bottom: 1em;
}
#content-pane #content-main .red {
  color: #ab4642;
}
#content-pane #content-main .green {
  color: #a1b56c;
}
#content-pane #content-main .yellow {
  color: #f7ca88;
}
#content-pane #content-main .blue {
  color: #7cafc2;
}
#content-pane #content-main .magenta {
  color: #ba8baf;
}
#content-pane #content-main .cyan {
  color: #86c1b9;
}
#content-pane #content-main .orange {
  color: #dc9656;
}
#content-pane #content-main .white {
  color: #d8d8d8;
}
#content-pane #content-main .blog-post-item {
  margin-right: 40px;
}
#content-pane #content-main .blog-post-item a {
  color: #d8d8d8;
  text-decoration: none;
  font-weight: bold;
}
#content-pane #content-main .portfolio-item .portfolio-item-header {
  display: flex;
}
#content-pane #content-main .portfolio-item .portfolio-item-name {
  font-weight: bold;
}
@media (max-width: 960px) {
  #content-pane #content-main .portfolio-item .portfolio-item-name {
    flex: 1 0 auto;
  }
}
#content-pane #content-main .portfolio-item .portfolio-item-sep {
  visibility: hidden;
}
@media (max-width: 960px) {
  #content-pane #content-main .portfolio-item .portfolio-item-tech {
    text-align: right;
    flex: 1 1 auto;
    margin-right: 40px;
  }
}
@media (max-width: 960px) {
  #content-pane #content-main .portfolio-item .portfolio-item-summary {
    margin-right: 40px;
  }
}
#content-pane .double-list-container {
  display: flex;
}
@media (max-width: 960px) {
  #content-pane .double-list-container {
    flex-direction: column;
  }
}
#content-pane .double-list-container .list {
  margin-top: 1em;
  margin-right: 1em;
}
